page-profile {
  .frame{
    background: url(../assets/imgs/photo-frame.png)center center no-repeat;
    width: 120px;
    height: 120px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    img{
      max-height: 96px;
      width: auto;
    }
    .button{
      position: absolute;
      left: 4px;
      bottom: 3px;
    }
  }
  #fileInput{
    display: none;
  }
  .outer-bar-progress{
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 17px;
    width: 121px;
    .inner{
      color: #fff;
      background-color: #caa17d;
      padding: 0.01em 16px;
      height: 17px;
      border-radius: 10px;
      width: 0;
    }
  }
}
