<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col><img width="100" src="assets/imgs/logo.png"/></ion-col>
      <ion-col><span class="logo">Recipes</span></ion-col>
      <ion-col align="right">
        <button class = "addFood" (click)="showAddFood()">Add Food</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <div class="textarea-frame">
              <div class="bottom">
                <div class="left">
                  <div class="right">
                    <ion-textarea name="note" class="note" placeholder="Write a new recipe" [(ngModel)]="note_recipe"></ion-textarea>
                    <button ion-button class="expand_btn" (click) = "expandIntro()"></button>

                  </div>
                </div>
              </div>
          </div>
          <div [ngStyle]="{'display': expand}">
            <textarea name="intro" [(ngModel)]="intro" class="intro" placeholder="introduce it more"></textarea>
          </div>
          <div [froalaEditor]>Hello, Froala!</div>
        </ion-col>
        <ion-col>
          <button ion-button class="plus_btn" (click) = "addNewRecipe()"></button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
  <ion-list>

    <ion-item class="category-list" *ngFor="let food of listFood" ng-init="recipes = food.recipes">
      <div class="category-frame">
        <div class="top">
          <div class="bottom">
            <div class="left">
              <div class="right">
                <h2>{{food.name}} <span class="deleteFood" (click) = "deleteFood(food)">Delete</span></h2>
              </div>
            </div>
          </div>
          </div>
        </div>
      <!-- <ion-grid>
        <ion-row *ngFor="let recipe of food.recipes">
          <ion-col>{{recipe.name}}</ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-list>
        <ion-item-sliding *ngFor="let recipe of food.recipes">
          <ion-item>
            <h2>{{recipe.name}}</h2>
            <div class="intro_text">{{recipe.intro}}</div>
            <p align="right">
              <button ion-button color="danger" danger (click)="readmore()">Read more</button>
            </p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" danger (click)="removeRecipe(food, recipe)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-item>
  </ion-list>

</ion-content>
