page-recipe {
  .fr-box.fr-basic .fr-element{
    height: 200px;
  }
  .intro_text{
    min-width: 300px;
    height: 100px;
    border: 1px solid;
  }

}
.tabbar.show-tabbar{
  bottom: inherit!important;
  top: 0!important;
  background: none;
  display: block;
  text-align: right;
  .tab-button{
    display: inline-flex;
    width: 30%;
  }
}
