page-signup {
  .signup-logo{
    img{
      width: 100px;
    }
  }
  .content{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7e225+0,f75018+48,f99e68+100 */
    background: #f7e225; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f7e225 0%, #f75018 48%, #f99e68 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f7e225 0%,#f75018 48%,#f99e68 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f7e225 0%,#f75018 48%,#f99e68 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e225', endColorstr='#f99e68',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  h3{

  }
  button{
    background-color: #caa17d!important;
    .button-inner{
      background-color: #caa17d;
    }
  }
}
